component: nuxtjs # (必填) 组件名称，此处为 nuxtjs
name: discuz # (必填) 实例名称
org: orgDemo # (可选) 用于记录组织信息，默认值为您的腾讯云账户 APPID
app: appDemo # (可选) 该 nuxt.js 项目名称
stage: release # (可选) 用于区分环境信息，默认值是 dev

inputs:
  functionConf:
    memorySize: 1024
    timeout: 60
  src:
    src: ./
    exclude:
      - .env
  region: ap-beijing
  runtime: Nodejs12.16
  apigatewayConf:
    protocols:
      - http
      - https
    environment: release